.search-form {
  padding: 1em 0;
  text-align: center;
}

.search-text {
  font-size: 1.2em;
  padding: .2em;
  border: none;
  border-bottom: 3px solid #333;
  transition: .2s border-color;
}

.search-text:focus {
  outline: none;
  border-color: #6a9fb5;
}
