.sub-clock {
  position: relative;
  margin: .2em 0;
  transition: all .2s;
}

.active {
  padding: .4em;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.clock-close {
  position: absolute;
  top: .2em;
  right: .5em;
  color: #999;
}
