* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: #333;
}

a {
  color: #6a9fb5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -61px;
}

.main:after {
  content: '';
  display: block;
  height: 61px;
}

.with-reference-date .back-to-current-time {
  display: block;
}

input[name="clock-actions"] {
  display: none;
}

input[name="clock-actions"]:checked + .clock-actions {
  display: block;
}

.clock-action {
  padding: .4em;
}

.clock-action-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: .5em;
}

@media screen and (max-width: 600px) {
  .main {
    margin-bottom: -100px;
  }

  .main:after {
    height: 100px;
  }
}
