* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: #333;
}

a {
  color: #6a9fb5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  margin-bottom: -61px;
}

.main:after {
  content: '';
  display: block;
  height: 61px;
}

.back-to-current-time {
  display: none;
  padding: .5em;
  margin-top: .2em;
  margin-bottom: .2em;
  text-align: center;
  cursor: pointer;
  background: #f7e3bf;
  color: #d0895d;
}
.back-to-current-time:hover {
  text-decoration: underline;
}

.with-reference-date .back-to-current-time {
  display: block;
}

input[name="clock-actions"] {
  display: none;
}

input[name="clock-actions"]:checked + .clock-actions {
  display: block;
}

.clock-action {
  padding: .4em;
}

.clock-action-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: .5em;
}

.add-clock {
  display: block;
  text-align: center;
  padding: 1em;
  margin: 1em;
  background-color: #eee;
  color: #ccc;
  cursor: pointer;
}

.search-form {
  padding: 1em 0;
  text-align: center;
}

.search-text {
  font-size: 1.2em;
  padding: .2em;
  border: none;
  border-bottom: 3px solid #333;
  transition: .2s border-color;
}

.search-text:focus {
  outline: none;
  border-color: #6a9fb5;
}

.search-result-city {
  padding: 1em;
}

.search-result-city:hover,
.clock-action:hover {
  background: rgba(0,0,0,.2);
  cursor: pointer;
}

.footer {
  padding: 1.3em;
  border-top: 1px solid #eee;
  font-size: .8em;
  color: #ccc;
  text-align: center;
}

.footer p {
  margin: .8em;
}


@media screen and (max-width: 600px) {
  .main {
    margin-bottom: -100px;
  }

  .main:after,
  .footer {
    height: 100px;
  }
}
